.wrapper{
  positoin: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 }
 .img-area{
    box-shadow: 4px 4px 4px #262626;
    border: 10px solid #eee;
    height: 400px;
    width: 400px;
    overflow: hidden;
 }
.box{
  background: url(https://upload.wikimedia.org/wikipedia/commons/1/16/HDRI_Sample_Scene_Balls_%28JPEG-HDR%29.jpg);
  -webkit-background-size: 400px 400px;
  background-size: 400px 400px;
}
.box img{
  width: 400px;
  heidth: 400px;
  margin-left: 0;
  transition: 2s;
}
.box img:hoover{
  margin-left: -400px;
}
  
